{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>Homepage | Tegami</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
{% endblock %}


{% block content %}

<div class="w3-content w3-display-container" style="max-width:1920px">
  <div class="mySlides slide_panel">
    <h3>Find your ideal Pen Pals by query</h3>
  </div>
  <div class="mySlides slide_panel">
    <h3>Protect your address from strangers</h3>
  </div>
  <div class="mySlides slide_panel">
    <h3>Tired? Remove your Pen Pals at any time</h3>
  </div>
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);
var myIndex = 0;
var buttons = document.getElementsByClassName("w3-badge demo w3-border w3-transparent w3-hover-white");
carousel();

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}

function carousel() {
  if (myIndex >= buttons.length) { myIndex= 0 }
  buttons[myIndex].click();
  myIndex++;
  setTimeout(carousel, 2000); 
}
</script>


    
{% endblock %}