{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>Notifications | Tegami</title>
{% endblock %}

{% block content %}
<div class="main">
    <h1>Notifications</h1>
    {% csrf_token %}
    {% if notifications %}
        {% for noti in notifications %}
            <p>At {{ noti.time }}: {{ noti.content }} <a href="{{ noti.url }}">See more</a></p>
        {% endfor %}
    {% else %}
        <p>No notifications to display.</p>
    {% endif %}
</div>
  
{% endblock %}