{% extends "./../common/template.html" %}

{% block content %}

    {% csrf_token %}
<h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
<img src="{{ profile.profile_pic }}" alt="" width="100px">  
<br>
Date of Birth: {{ profile.DoB }}
<br>
From {{ profile.country }}
<br>
Intro: {{ profile.intro }}
<br>
Spoken languages:
<br>
{% for lang in lang_list %}
　　- {{ lang }} <br>
{% endfor %}
{% if profile.gender == 0 %}
    Gender: Female
{% else %}
    Gender: Male
{% endif %}
<br>
<br>
<a href="{% url 'edit_info' %}">Edit your profile</a>
<br>
  
{% endblock %}