{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>{{profile.user.first_name}} {{ profile.user.last_name }} | Tegami</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/columns.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="col-container">
        <div class="col-colored col-profile-left">
            <br><br>
            <img class="center-cropped-big profile-picture" src="{{ profile.profile_pic }}" alt="">  
        </div>
        <div class="col col-profile-right">
            <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
            Date of Birth: {{ profile.DoB }}
            <br>
            {% if profile.gender == 0 %}
                Gender: Female
            {% elif profile.gender == 1 %}
                Gender: Male
            {% else %}
                Gender: Other
            {% endif %}
            <br>
            From: {{ country }}
            <br>
            {% if is_pal == 1 %}
                Address: {{ profile.address }}
                <br>
                <div class="annotation">You can see {{ profile.user.first_name }}'s address because you're Pen Pals</div>
            {% endif %}
            Intro: {{ profile.intro }}
            <br>
            Spoken languages:
            <ul>
                {% for lang in lang_list %}
                <li>{{ lang }}</li>
                {% endfor %}
            </ul>
            {% if is_pal == 1 %}
                {{ profile.user.first_name }} is your Pen Pal. Tired? <a href="{% url 'matching_remove_confirm' profile.user.username %}">Remove them from your list</a>.
            {% elif received_request %}
                {{ profile.user.first_name }} has sent you a Pen Pal request. <a href="{% url 'respond_match_request' request_id=received_request.id verb='accept' %}">Accept the request</a> to give them your address, or <a href="{% url 'respond_match_request' request_id=received_request.id verb='decline' %}">decline</a>.
                <br>
            {% elif sent_request %}
                You already sent this user a Pen Pal request on {{ sent_request.time }}. Please be patient.
            {% else %}
                Want to write {{ profile.user.first_name }} a letter? <a href="{% url 'matching_confirm' profile.user.username %}">Send Pen Pal request</a>.
            {% endif %}
            <br>
        </div>
    </div>
</div>
 
{% endblock %}