{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>Register | Tegami</title>
{% endblock %}

{% block content %}
<div class="main">
  <h1>Register</h1>

  {% for message in messages %}
  <div class="alert">
      {{ message }}
  </div>
  {% endfor %}

  <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <input type="submit" value= "Register Your Account">
  </form>
</div>


    
{% endblock %}