{% extends "./../common/template.html" %}

{% block content %}


<div class="row">
	<div class="col-md-4">
    </br>
        <h2>Register</h2>
        </br>
        {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
        <br>
        {% endfor %}
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value= "Register Your Account">
        </form>
    </div>

    <div class="col-md-4"></div>
</div>


    
{% endblock %}