{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>Your Pen Pals | Tegami</title>
{% endblock %}

{% block content %}

<div class="main">
    <h1>Your matched Pen Pals</h1>
    {% if pal_num > 0 %}
    <table>
        {% for pal, age, country in pal_list %}
        <tr>
            <td><a href="{% url 'profile_other' pal.user.username %}"><img class="center-cropped-small" src="{{ pal.profile_pic }}" alt=""></a></td>
            <td>
                <a href="{% url 'profile_other' pal.user.username %}">{{ pal.user.first_name }} {{ pal.user.last_name }}</a>
                <br>
                <div class="annotation">
                    {% load static %}
                    {% if pal.gender == 0 %}
                        <img class="icon" src="{% static 'images/gender_female.png' %}" alt="">
                    {% else %}
                        <img class="icon" src="{% static 'images/gender_male.png' %}" alt="">
                    {% endif %}
                    {{ age }}, from {{ country }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No pen pals to display.</p>
    {% endif %}
</div>
  
{% endblock %}