{% extends "./../common/template.html" %}

{% block content %}

<h1>What kind of Pen Pal are you looking for?</h1>

{% csrf_token %}
<form action="{% url 'matching_query' %}" method="post">
    {% csrf_token %}
    <span for="title">Country</span>
    <select name="country">
        <option value="--">Any</option>
        <option value="JP">Japan</option>
        <option value="VN">Vietnam</option>
    </select>
    <br>

    <span for="gender">Gender</span>
    <select name="gender">
        <option value=2>Any</option>
        <option value=0>Female</option>
        <option value=1>Male</option>
    </select>
    <br>

    <span for="min_age">From</span>
    <input type="number" name="min_age" id="min_age" min="6" max="150">
    <span for="max_age"">to</span>
    <input type="number" name="max_age" id="max_age" min="6" max="150">
    years old.
    <br>

    <span for="language1">Language 1</span>
    <select name="language1">
        <option value='--'>Any</option>
        <option value='en'>English</option>
        <option value='ja'>日本語</option>
        <option value='vi'>Tiếng Việt</option>
    </select>
    <span for="language2">Language 2</span>
    <select name="language2">
        <option value='--'>Any</option>
        <option value='en'>English</option>
        <option value='ja'>日本語</option>
        <option value='vi'>Tiếng Việt</option>
    </select>
    <span for="language3">Language 3</span>
    <select name="language3">
        <option value='--'>Any</option>
        <option value='en'>English</option>
        <option value='ja'>日本語</option>
        <option value='vi'>Tiếng Việt</option>
    </select>
    <span for="language4">Language 4</span>
    <select name="language4">
        <option value='--'>Any</option>
        <option value='en'>English</option>
        <option value='ja'>日本語</option>
        <option value='vi'>Tiếng Việt</option>
    </select>
    <span for="language5">Language 5</span>
    <select name="language5">
        <option value='--'>Any</option>
        <option value='en'>English</option>
        <option value='ja'>日本語</option>
        <option value='vi'>Tiếng Việt</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>

<!-- <script>
    function myFunction() {
      document.getElementById("min_age").defaultValue = 18;
      document.getElementById("min_age").defaultValue = 150;
    }
</script> -->
{% endblock %}