{% extends "./../common/template.html" %}

{% block extra_head_content %}
  <title>Find your Pen Pals | Tegami</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/columns.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}


<div class="col-container">
    <div class="col-colored col-settings-left">
        <h2>What kind of Pen Pal are you looking for?</h2>
    </div>
    <div class="col col-settings-right">
        <form method="POST" action="{% url 'matching_query' %}">
            {% csrf_token %}
            {{ query_form }}
            <input type="submit" value= "Find">
        </form>
    </div>
</div>

{% endblock %}