.column {
  float: left;
  padding: 10px;
}

.col_left {
  width: 25%;
}

.col_right {
  width: 75%;
}

/* Clear floats after the columns */
.col_row:after {
  content: "";
  display: table;
  clear: both;
}