/* Slideshow style */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.slide_panel {
  height: 370px;
  padding: 160px 160px 160px 160px;
  text-align: center;
  vertical-align: middle;
  background: #086b72;
  color: white;
}

@media screen and (max-width: 700px) {
  .slide_panel {
    padding: 160px 20px 160px 20px;
}