{% extends "./../common/settings_base.html" %}

{% block settings_content %}

<h1>Password update</h1>
{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="success-message">
            {{ message }}
        </div>
    {% else %}
        <div class="alert">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<form method="POST" action="{% url 'edit_password' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value= "Submit">
</form>
  
{% endblock %}