{# template for user side site #}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



</head>
<body>
<a href="{% url 'home' %}" style="text-decoration: none;">
<div class="header">
  <h1>Tegami</h1>
  <p>Connects people with paper letters.</p>
</div></a>

<div class="navbar">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'profile' %}">Profile</a>
  <a href="{% url 'current_pals' %}">Your Pen Pals</a>
  <a href="{% url 'matching_query' %}">Find someone new</a>
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="right">Logout</a>
    <a href="{% url 'settings' %}" class="right">Settings</a>
    <a href="{% url 'notifications' %}" class="right">Notifications({{ user.profile.count_unread_notis }})</a>
    <a href="{% url 'profile' %}" class="right">Welcome, {{ user.first_name }}!</a>
  {% else %}
    <a href="{% url 'register' %}" class="right">Register</a>
    <a href="{% url 'login' %}" class="right">Login</a>
  {% endif %}

</div>

<div>
    {% block content %}{% endblock %}
</div>

<div class="footer">
  <h3>Tegami – a personal project</h3>
  Contact: PHAM Van Nam <br>
  Email: vannampham1301@gmail.com<br>
  Phone: (+81)080-8750-5337

</div>

</body>
</html>